<!DOCTYPE HTML>
<html>
	<head>
		<title>Eintr News</title>
		<meta name="description" content="Eintr News">
		<meta charset='utf-8'>
		<meta name="viewport" content='width=device-width, initial-scale=1'>
		
		{{#each css}}
			<link rel='stylesheet' href='/cache/{{this}}'>
		{{/each}}
	</head>
	<body>
		<div id='header'>
			<div id='login'>
				{{#if logined}}
					Hello, {{name}}!<br>
					<a href="/logout" class='account'><div>Logout</div></a>
				{{else}}
					<a href="/auth/google" class='account'><div>Sign In with Google</div></a>
				{{/if}}
			</div>
			<div id='title'>
				<h1>Eintr News</h1>
				<p>News Aggregation</p>
			</div>
			<ul id='nav'>
				<li><a{{#ifCond page '==' 'index'}} id='select'{{/ifCond}} href='/' class='links'>News</a></li>
				<li><a{{#ifCond page '==' 'about'}} id='select'{{/ifCond}} href='/about' class='links'>About</a></li>				
				<li><a{{#ifCond page '==' 'none'}} id='select'{{/ifCond}} class='sidebarLink links' href='/sidebar'>Sidebar</a></li>
			</ul>
		</div>
		
		<div id='body'>
		
			<div id='content' class='expand-body'>
				{{{content}}}
			</div>
			<div id='sidebar'{{#ifCond page '==' 'none'}} class='expand-sidebar'{{/ifCond}}>
				{{{sidebar}}}
			</div>
		</div>
		{{#each js}}
			<script src='/cache/{{this}}'></script>
		{{/each}}
	</body>
</html>
