<form action='/'>
	<input name='q' id='searchInput' placeholder='Search...'>
	<input type="hidden" name="type" id='searchType'> 
	<input type="submit" value='' id='searchButton'>
</form>
<hr>
<h2><a href='https://coinmarketcap.com' target='_blank'>Cypto Currencies</a></h2>
<table id='coins'>
	<tr>
		<th>
			Name
		</td>
		<th>
			Price
		</th>
		<th>Movement</th>
	</tr>
	{{#each coins}}
	<tr>
		<td>
			<img class='coin-icon' src='/coins/{{id}}.png'>
			<a href='https://coinmarketcap.com/currencies/{{id}}' target='_blank'>{{name}}</a>
		</td>
		<td>
			{{price}}
		</td>
		<td style='color: {{color}}'>{{change}}</td>
	</tr>
	{{/each}}
</table>
<hr>
<h2><a href='https://skeptics.stackexchange.com' target='_blank'>Skeptics - Stack Exchange</a></h2>
<ul>
	{{#each skeptics}}
		<li><a href='{{link}}' target='_blank'>{{title}}</a></li>
	{{/each}}
</ul>
<hr>
